@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

:root{
	--primary:gray;
	--secondary:white;
	--third:black;
}
*{
	margin:0;
	font-family: 'Nunito Sans', sans-serif;
}
.app{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:100%;
	height:100vh;
}
.login{
	position: absolute;
	height:100%;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form{
	padding:3rem;
	background-color: var(--secondary);
	border-radius: 30px;
}
.container{
	width:100%;
	height:100vh;
}
.top-btn{
	display: flex;
	background-color: var(--primary);
	align-items: center;
	justify-content: space-around;
	height:10%
}

.main{
	height:100%;
	display:flex;
}
.chat{
	display: flex;
	flex-direction: column;
	height:100%;
	width:100%;
}
.select-room{
	background-color: white;
	padding:10px;
	display: flex;
	border-bottom:3px solid #e5e5ea;
}
.select-room p{
	padding:5px;
	border-radius: 30px;
	cursor: pointer;
}
.select-room .room{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width:100px; 
	cursor: pointer;
}
.select-room .room img{
	height:40px;
	width:40px;
	border-radius: 30px;
}
.msg-list{
	background-color: white;
	height:90%;
	overflow-y: auto;
	display: flex;
	justify-content: center;
}
.user-section{
	background-color: var(--secondary);
	height:100%;
	width:40%;
	font-size: 0.7rem;
	overflow-y: auto;
	position: absolute;
}
.user-count{
	height:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}
.user-list{
	padding:0.2rem;
	margin-top:50px
}

.room-chat	{
	width:95%;
	padding:10px;
}
.msg-line{
	padding:10px;
	margin-bottom:10px;
	display: flex;
	flex-direction: column;
}
.message{
	background-color: #e5e5ea;
	max-width:50%;
	overflow-wrap: break-word;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	border-bottom-left-radius:15px;
	padding:10px;
}
.me{
	background-color: #248bf5;
	border-bottom-right-radius:15px !important;
	border-bottom-left-radius:30px !important;
	color:white
}
.message .user{
	display: flex;
	align-items: center;
}
.message .user .name{
	font-size: 1.2rem;
	font-weight: bold;
}
.message .text{
	overflow: hidden;
}
.message .user img{
	height:30px;
	width:30px;
	border-radius: 30px;
	margin-right:10px;
}
.input-field{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:10px;
	border-top:3px solid #e5e5ea;
}
.file-preview{
	width:100%;
	display: flex;
}
.file-preview div{
	margin-right:10px;
}
.image-preview{
	position: relative;
}
.close-btn{
	position: absolute;
}
.input-field .input-txt{
	width:80%;
	border:none;
	padding:10Px;
	border-radius: 30px;
	border:3px solid lightgray;
	height:30px
}
.input-field .input-txt:focus{
	outline:none
}
.input-field .input-btn{
	border:none;
	padding:10Px;
	border-radius: 30px;
	background-color: var(--secondary);
}
.input-field .btn{
	display: flex;
	align-items: center;
	justify-content: center;
}
.user-card{
	display:flex;
	align-items: center;
	background-color: var(--secondary);
	padding:0.2rem;
	justify-content: space-between;
}
.pdp{
	margin-right:10px;
	height:30px; 
	width:30px;
	border-radius:30px;
}
.actif{
	height:10px;
	width:10px;
	background-color: greenyellow;
	border-radius: 30px;
}
.inactif{
	height:10px;
	width:10px;
	background-color: rgb(255, 217, 0);
	border-radius: 30px;
}
.action-btn{
	display:flex;
	width:20%;
}
.action-btn img{
	height:15px;
	width:15px;
}
.info{
	display: flex;
	align-items: center;
}
.state{
	width:20%;
}

.close{
	color:red;
	background-color: white !important;
	border-radius: 30px;
	height:20px;
	width:20px;
	text-align: center;
}

.new-msg{
	background-color: red !important;
}
.messageImg{
	max-width:200px;
	max-height:100px;
}

.right{
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.custom-file-upload{
	margin-right:30px;
	margin-left:10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.custom-file-upload svg{
	background-color: lightgray;
	border-radius: 30px;
	border:3px solid lightgray;
}
#image_input{
	display: none;
}
#btn{
	display: none;
}

.custom-send{
	background-color: #248bf5;
	height:50px;
	width:50px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.send-btn{
	color:white;
	height:30px;
}

.flex{
	display: flex;
}
.toggle-userlist{
	width:30px; 
	height:30px;
	position: absolute;
	z-index: 9999;
}
.load{
	animation: fadeInLeft 0.3s forwards;  
}
.unload{
	animation: fadeInRight 0.3s forwards;
  
}
@keyframes fadeInLeft {
	0% {
	   transform: translateX(-600px);
	}
	100% {
	   transform: translateX(0%);
	}
}	 
@keyframes fadeInRight {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-600px);
	}
}	 